
.nav-bar {
  z-index: 999;
  position: fixed;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  height: 56px;
  background-color: white;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 5%);
}

.center-icon .MuiSvgIcon-root {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.center-icon .MuiSvgIcon-root:hover {
  background-color: #f1f1f1;
  border-radius: 6px;
}

.active {
  background-color: #e7f3ff;
  fill: #4648ff;
  border-radius: 6px;
}

.active .MuiSvgIcon-root {
  fill: #4648ff;
}

.logo-fb > img {
  height: 40px;
  padding-left: 15px;
  padding-top: 8px;
}

.right-icon {
  padding: 8px;
  display: flex;
}

.right-icon .box-border {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 8px;
  margin: 3px;
  cursor: pointer;
  background-color: #e7e7e7;
  border-radius: 100%;
}

.right-icon .box-border.active-right {
  background-color: #e7f3ff;
}

.active-right .MuiSvgIcon-root {
  fill: #4648ff;
}

.nav-center-mobile {
  display: none;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .active-right .MuiSvgIcon-root {
    fill: #ff4646;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .nav-center {
    display: none;
  }
  .nav-center-mobile {
    display: initial;
    margin-left: 27px;
    padding: 10px;
    cursor: pointer;
  }

  .nav-center-mobile:hover {
    /* background-color: #f1f1f1; */
    border-radius: 6px;
  }

  .nav-left {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu-mobile-main {
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .menu-mobile-item{
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
  }

  .menu-mobile-item:hover{
    background-color: #f3f3f3;
    border-radius: 6px;
  }

  .menu-mobile-item > span {
    padding-left: 20px;
    font-weight: 500;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 769px) {
  .list-menu-mobile {
    display: none;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
